			body{
				background-color: #001145;
				color: #ffffff;
				background-image: url(pagebg.png);
			}
			#content{
				text-align: center;
			}
			#can{
				border: 1px solid #0000ff;
			}
			.vr{ height: 12px; }
			.vr-big{ height: 80px; }
			a{ color: #88ff88; }
			a:hover{ color: #ffffff; }
			a:active{ color: #88ff88; }
